* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  width: 60%;
  height: 755px;
  margin: 20px 8px 20px 8px;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 500;
}
.form:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.9);
  color: gold;
}
#Title,
#Name,
#views,
#time,
#duration,
#thumbnail {
  width: 98%;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #f1f1f1;
  font-weight: 500;
  font-size: 18px;
  padding: 8px;
}
.details {
  width: 90%;
}
#btn {
  width: 98%;
  height: 42px;
  background-color: blue;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 1px solid #000;
  font-size: 24px;
  cursor: pointer;
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* important so video fills screen */
  z-index: -1; /* send video behind everything */
}
.container1 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 12px;
  margin-left: 10px;
  padding: 28px;
  background: rgba(250, 250, 250, 0.9);
  backdrop-filter: blur(4px);
  width: 90%;
  height: max-content;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
.duration {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0.8;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.card video {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
#image {
  width: 40%;
  position: relative;
  height: fit-content;
}
#text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0;
  margin-top: 20px;
  color: #000;
}
.card {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 12px;
  background: #fff;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 64px;
  width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.card:hover {
  box-shadow: 0 6px 16px rgba(186, 4, 162, 0.9);
}