* {
    margin: 0;
    padding: 0;
    font-family: roboto;
    box-sizing: border-box;
}
img, video {
  max-width: 100%;
  height: auto;
}
html {
  font-size: 16px;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: #047857;
    height: 500px;
}

.child1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #000;
    width: 98%;
    height: 60px;
    color: #fff;
    background-color: #343a40;
    border-radius: 8px;
    margin: 12px 8px 8px 12px;
    padding: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.child1:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.90);
}

a {
    text-decoration: none;
    margin: 0 60px;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

a:hover {
    color: #FFD700;
    transition: color 0.3 ease;
}

.profile {
    display: flex;
    justify-content: center;
}

.image {
    width: 25%;
    height: 300px;
    border: 1px solid #121212;
    margin: 44px;
    margin-right: 320px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.image:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.90);
}

.image img {
    cursor: pointer;
    width: 90%;
    height: 290px;
    /*  border:1px solid gray; */
    margin-left: 20px;
    border-radius: 6px;
}

.para1 {
    margin: 14px;
    width: 25%;
    height: 300px;
    color: #fff;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-right: 94px;
    margin-left: 64px;
}

.para1:hover {
    color: #ffd700;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
}

.btn {
    width: 104px;
    height: 44px;
    color: #fff;
    font-weight: 600;
    background-color: #10B981;
    transition: background-color 0.3s ease;
    border: 1px solid #047857;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    margin-top: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background-color: #065F46;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.90);
}

.content {
    display: flex;
    flex-direction: row;
}

#Home {
    display: flex;
    width: 45%;
    height: 690px;
    border: 2px solid #000;
    border-radius: 12px;
    margin: 20px;
    margin-left: 34px;
    padding: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background-color: #F9FAFB;
}

#Home:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.90);
    color: #ffd700;
    transition: color 0.3s ease;
    transition: background-color 0.2s ease;
}

.sub-content {
    display: flex;
    flex-direction: column;
}

#Skills {
    width: 720px;
    height: 325px;
    border: 2px solid #000;
    border-radius: 12px;
    margin: 20px;
    margin-left: 70px;
    padding: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background-color: #F9FAFB;
}

#Skills:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.90);
    color: #ffd700;
    transition: color 0.3s ease;
    transition: background-color 0.2s ease;
}

#Qualifications {
    width: 720px;
    height: 325px;
    border: 2px solid #000;
    border-radius: 12px;
    margin: 20px;
    margin-left: 70px;
    padding: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background-color: #F9FAFB;
}

#Qualifications:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.90);
    color: #ffd700;
    transition: color 0.3s ease;
    transition: background-color 0.2s ease;
}

.content_2 {
    display: flex;
    flex-direction: row;
}

#sub-content_1 {
    display: flex;
    width: 43%;
    height: 690px;
    border: 2px solid #000;
    border-radius: 12px;
    margin: 20px;
    margin-left: 34px;
    padding: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background-color: #F9FAFB;
}

#sub-content_2 {
    display: flex;
    width: 48%;
    height: 690px;
    border: 2px solid #000;
    border-radius: 12px;
    margin: 20px;
    margin-left: 70px;
    padding: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background-color: #F9FAFB;
}

#sub-content_1:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.90);
    color: #ffd700;
    transition: color 0.3s ease;
    transition: background-color 0.2s ease;
}

#sub-content_2:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.90);
    color: #ffd700;
    transition: color 0.3s ease;
    transition: background-color 0.2s ease;
}
.form{
   margin-top: 125px;
    margin-right: 94px;
    width:85%;
    height:400px;
     font-size: 24px;
    font-weight: 600;
}
#name, #phone, #Bio{
width: 90%;
height: 40px;
border-radius: 8px;
border:2px solid #f1f1f1;
font-weight: 500;
font-size: 18px;
}
#Bio{
    height:90px;
}
button{
    width: 90%;
    height:35px;
    color:#fff;
    background-color: blue;
    font-weight: 600;
    font-size: 16px;
    border:1px solid skyblue;
    border-radius: 8px;
    cursor: pointer;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 8px;
  background-color: #047857;
  color:red;
  width:100%;
  height:44px;
  margin:8px 0 16px 0;
}
#image {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: #fff;
  color: #fff;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;
  margin-left: 12px;
}
@media only screen and (max-width:768px){
.container {
    width: 100%;
    height: 680px;
}
.child1 {
    width: 97%;
}
a {
    margin: 0 20px;
    text-align: left;
    font-size: 20px;
}
.image {
    width: 90%;
    height: 340px;
    margin: 22px;
    margin-right: 80px;
}
.content {
    flex-direction: column;
}

#Home {
    width: 90%;
    height: 320px;
    margin: 30px;
    padding: 24px;
}
.sub-content {
    flex-direction: row;
}
#Skills {
    width: 90%;
    height: 325px;
    margin-left: 40px;
}
#Qualifications {
    width: 90%;
    height: 325px;
    margin-left: 40px;
    margin-right: 40px;
}
.content_2 {
    flex-direction: column;
}
#sub-content_1 {
    width: 90%;
    height: 590px;
    margin-left: 44px;
}
#sub-content_2 {
    width: 90%;
    height: 490px;
    margin-left: 44px;
}
.form{
   margin-top: 60px;
   width:98%;
   height:200px;
}
#name, #phone, #Bio{
width: 98%;
}
.image {
    width: 35%;
    height: 340px;
    margin-right: 60px;
    margin-top:60px;
}
.image img {
    height: 300px;
    margin-left: 20px;
    margin-top:20px;
}
footer{
  font-size: 14px;
  color:rgb(216, 235, 15);
}
}
@media only screen and (max-width:700px){
    .container{
        height:720px;
    }
}
@media only screen and (max-width:480px){
  .container {
    width: 100%;
    height: 480px;
}
.child1 {
    width: 95%;
    margin: 12px 8px 12px 8px;
    justify-content: space-around;
}
a {
    margin: 0 8px;
    text-align: left;
    font-size: 16px;
}
.image {
    width: 97%;
    height: 280px;
    margin: 10px;
    margin-top: 30px;
    margin-right: 10px;
}
.content {
    flex-direction: column;
}
#Home {
    width: 90%;
    height: 320px;
    margin: 24px;
}
#Skills {
    width: 45%;
    height: 225px;
    margin: 24px;
}
#Qualifications {
    width: 40%;
    height: 225px;
    margin: 24px;
    text-align: center;
    font-size:12px;
}
.content_2 {
    flex-direction: column;
}
#sub-content_1 {
    width: 90%;
    height: 590px;
    margin: 24px;
}

#sub-content_2 {
    width: 90%;
    height: 490px;
    margin: 24px;
}
.form{
   margin-top: 70px;
    width: 100%;
    height:200px;
     font-size: 22px;
}
#name, #phone, #Bio{
width: 100%;
border-radius: 8px;
border:2px solid #f1f1f1;
font-weight: 500;
font-size: 16px;
}
footer{
  font-size: 10px;
  color:rgb(216, 235, 15);
}
.para1 {
    width: 45%;
    height: 100px;
    font-size: 22px;
    margin-right:12px;
}
.image img{
    margin-top:20px;
    height:220px;
    margin-left:12px;
}
}
@media only screen and (max-width:430px){
.container {
    height: 480px;
}
a {
    font-size: 14px;
}
.image {
    height: 250px;
}
#Qualifiactions{
    font-size: 6px;
    padding: 30px;
}
.form{
   margin-top: 70px;
    margin-right: 94px;
    width: 100%;
    height:200px;
     font-size: 22px;
    font-weight: 600;
    padding: 12px;
}
#name, #phone, #Bio{
font-size: 12px;
padding: 8px;
}
#Bio{
    height:75px;
}
.para1 {
    font-size: 20px;
}
.image img{
    margin-top:24px;
    height:200px;
    margin-left:14px;
}
footer{
  font-size: 9px;
}
.tele{
font-size:18px;
}
#sub-content_1 {
    width: 90%;
    height: 690px;
}
}